
@{
    ViewBag.Title = "Обзор всех данных о сотрудниках, отделах и бонусах";
}

<h1>Обзор сотрудников и отделов</h1>
<h5>Этот нетипизированный вид выводит список сотрудников с привязкой по отделам, а также дает просто редактировать все общие данные. Дополнительно, здесь используется вывод нескольких подчиненных видов, чтобы отобразить на одной странице несколько разных таблиц с разными данными.</h5>


@{ Html.RenderAction("Partial_EmployeesByDepartments"); }

@{ Html.RenderAction("Partial_DepartmentsList"); }

@{ Html.RenderAction("Partial_EmployeesList"); }

