
@{
    ViewBag.Title = "Примеры ASP.Net";
}

<h3><b>Работа с БД</b> / Платежи сотрудникам</h3>
<p>Подключение через LINQ и чистый SQL. Варианты вывода с группировкой данных</p>
<ul>
    <li><a href="/dbpayments/"                              >Обзор данных</a></li>
    <li><a href="/dbpayments/bonuses/"                      >Просмотр бонусов у сотрудников</a></li>
    <li><a href="/dbpayments/bonuses/?viewtype=D"           >Просмотр бонусов по отделам</a></li>
</ul>

<h3><b>Работа с БД</b> / Страны, города и отели</h3>
<p>Подключение через LINQ</p>
<ul>
    <li><a href="/dbworldhotels/"                           >Обзор данных</a></li>
    <li><a href="/dbworldhotels/median/"                    >Средняя стоимость отелей по странам</a></li>
    <li><a href="/dbworldhotels/price/"                     >Рейтинг самых дешевых отелей</a></li>
</ul>

<!--
<h3><b>Работа с БД</b> / Книга рецептов</h3>
<p>Подключение через LINQ и чистый SQL. Варианты вывода с группировкой данных</p>
<ul>
    <li><a href="/dbcookbook/"                              >Просмотр всех рецептов</a></li>
</ul>
-->

<h3><b>Файловый обозреватель</b></h3>
<p>Просмотр файлов на сервере APS.Net, с простым SPA-клиентом на чистом JS + AJAX + JSON</p>
<ul>
    <li><a href="/filemanager/testcss/"                     >Тестовые элементы HTML/CSS для обозревателя файлов</a></li>
    <li><a href="/filemanager/"                             >Просмотр файлов</a></li>
</ul>


