
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FMLayout.cshtml";
}

<h1>Файловый менеджер</h1>

<div class="FileManagerContainer">
    <div class="FileManagerToolbar">
        Toolbar
    </div>
    <div class="FileManagerAddressBar">
        AddressBar
    </div>
    <div class="FileManagerBlocks">
        <div class="FileManagerDirTree">
            <div class="FMControlDirTree">

<!-- CDirTreeList : Begin -->
<div class="FMControl_CDirTreeList MainContainer">
    <div class="FMControl_CDirTreeList UpperContainer">
        <div class="FMControl_CDirTreeList DirToggleIcon"></div>
        <div class="FMControl_CDirTreeList DirNameBlock">Name</div>
        <div class="ClearFix"></div>
    </div>
    <div class="FMControl_CDirTreeList MiddleContainer">
        <div class="FMControl_CDirTreeList DirListContainer">
            <div class="FMControl_CDirTreeList DirList">
                <ul>
                    <li>123</li>
                    <li>123</li>
                    <li>123</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- CDirTreeList : End -->

            </div>
        </div>
        <div class="FileManagerFileList">
            <div class="FMControlFileList">
                List
            </div>
        </div>
        <div class="ClearFix"></div>
    </div>
    <div class="FileManagerInfo">
        Info
    </div>
</div>

