
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FMLayout.cshtml";
}

<h1>Файловый менеджер</h1>

<div class="FileManagerContainer">
    <div class="FileManagerToolbar">
        Toolbar
    </div>
    <div class="FileManagerAddressBar">
        <table>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <div class="FMControl_PathContainer">
                        <div class="FMControl_PathItem Root">Папка</div>
                        <div class="FMControl_PathItem Separator">/</div>
                        <div class="FMControl_PathItem Folder">Папка</div>
                        <div class="FMControl_PathItem Separator">/</div>
                        <div class="FMControl_PathItem Folder">Папка</div>
                        <div class="FMControl_PathItem Separator">/</div>
                        <div class="FMControl_PathItem Folder">Папка</div>
                        <div class="FMControl_PathItem Separator">/</div>
                        <div class="FMControl_PathItem Folder">Папка</div>
                        <div class="ClearFix"></div>
                    </div>
                </td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="FileManagerBlocks">
        <div class="FileManagerDirTree">
            <div class="FMControlDirTree">

<!-- CDirTreeList : Begin -->
<div class="FMControl_CDirTreeList MainContainer">
    <div class="FMControl_CDirTreeList UpperContainer">
        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
        <div class="ClearFix"></div>
    </div>
    <div class="FMControl_CDirTreeList MiddleContainer">
        <div class="FMControl_CDirTreeList DirListContainer">
            <div class="FMControl_CDirTreeList DirList">
                <!-- CDirTreeList : Subitems : Begin -->
                <!-- CDirTreeList : Begin -->
                <div class="FMControl_CDirTreeList MainContainer">
                    <div class="FMControl_CDirTreeList UpperContainer">
                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                        <div class="ClearFix"></div>
                    </div>
                    <div class="FMControl_CDirTreeList MiddleContainer">
                        <div class="FMControl_CDirTreeList DirListContainer">
                            <div class="FMControl_CDirTreeList DirList">
                                <!-- CDirTreeList : Subitems : Begin -->
                                <!-- CDirTreeList : Begin -->
                                <div class="FMControl_CDirTreeList MainContainer">
                                    <div class="FMControl_CDirTreeList UpperContainer">
                                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                                        <div class="ClearFix"></div>
                                    </div>
                                    <div class="FMControl_CDirTreeList MiddleContainer">
                                        <div class="FMControl_CDirTreeList DirListContainer">
                                            <div class="FMControl_CDirTreeList DirList">
                                                <!-- CDirTreeList : Subitems : Begin -->
                                                <!-- CDirTreeList : Subitems : End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CDirTreeList : End -->                                <!-- CDirTreeList : Subitems : End -->
                                <!-- CDirTreeList : Begin -->
                                <div class="FMControl_CDirTreeList MainContainer">
                                    <div class="FMControl_CDirTreeList UpperContainer">
                                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                                        <div class="ClearFix"></div>
                                    </div>
                                    <div class="FMControl_CDirTreeList MiddleContainer">
                                        <div class="FMControl_CDirTreeList DirListContainer">
                                            <div class="FMControl_CDirTreeList DirList">
                                                <!-- CDirTreeList : Subitems : Begin -->
                                                <!-- CDirTreeList : Subitems : End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CDirTreeList : End -->                            </div>
                        </div>
                    </div>
                </div>
                <!-- CDirTreeList : End -->
                <!-- CDirTreeList : Begin -->
                <div class="FMControl_CDirTreeList MainContainer">
                    <div class="FMControl_CDirTreeList UpperContainer">
                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                        <div class="ClearFix"></div>
                    </div>
                    <div class="FMControl_CDirTreeList MiddleContainer">
                        <div class="FMControl_CDirTreeList DirListContainer">
                            <div class="FMControl_CDirTreeList DirList">
                                <!-- CDirTreeList : Subitems : Begin -->
                                <!-- CDirTreeList : Begin -->
                                <div class="FMControl_CDirTreeList MainContainer">
                                    <div class="FMControl_CDirTreeList UpperContainer">
                                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Папка с очень длинным названием, которое не очень умещается 123</span></div>
                                        <div class="ClearFix"></div>
                                    </div>
                                    <div class="FMControl_CDirTreeList MiddleContainer">
                                        <div class="FMControl_CDirTreeList DirListContainer">
                                            <div class="FMControl_CDirTreeList DirList">
                                                <!-- CDirTreeList : Subitems : Begin -->
                                                <!-- CDirTreeList : Subitems : End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CDirTreeList : Begin -->
                                <div class="FMControl_CDirTreeList MainContainer">
                                    <div class="FMControl_CDirTreeList UpperContainer">
                                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                                        <div class="ClearFix"></div>
                                    </div>
                                    <div class="FMControl_CDirTreeList MiddleContainer">
                                        <div class="FMControl_CDirTreeList DirListContainer">
                                            <div class="FMControl_CDirTreeList DirList">
                                                <!-- CDirTreeList : Subitems : Begin -->
                                                <!-- CDirTreeList : Subitems : End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CDirTreeList : Begin -->
                                <div class="FMControl_CDirTreeList MainContainer">
                                    <div class="FMControl_CDirTreeList UpperContainer">
                                        <div class="FMControl_CDirTreeList DirToggleIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirFolderIcon"><div class="IconSize"></div></div>
                                        <div class="FMControl_CDirTreeList DirNameBlock"><span class="FMControl_CDirTreeList DirName">Name</span></div>
                                        <div class="ClearFix"></div>
                                    </div>
                                    <div class="FMControl_CDirTreeList MiddleContainer">
                                        <div class="FMControl_CDirTreeList DirListContainer">
                                            <div class="FMControl_CDirTreeList DirList">
                                                <!-- CDirTreeList : Subitems : Begin -->
                                                <!-- CDirTreeList : Subitems : End -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- CDirTreeList : End -->                                <!-- CDirTreeList : End -->                                <!-- CDirTreeList : End -->                                <!-- CDirTreeList : Subitems : End -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CDirTreeList : End -->
                <!-- CDirTreeList : Subitems : End -->
            </div>
        </div>
    </div>
</div>
<!-- CDirTreeList : End -->

            </div>
        </div>
        <div class="FileManagerFileList">
            <div class="FMControlFileList">


<div style="display: block; margin: 0px 0px 0px 0px;">

<div class="FMFileList"><!--
 --><div class="FMFileListHeader LayoutContainer"><!--
     --><div class="FMFileListHeader LayoutElement IconNameGroup"><!--
         --><div class="FMFileListHeader Icon" style="background-image: none;"></div><!--
         --><div class="FMFileListHeader Name"><span st>Имя объекта</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListHeader LayoutElement DetailsGroup"><!--
         --><div class="FMFileListHeader InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListHeader InfoElement InfoSize"><span>Размер</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoDate"><span>Дата изменения</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoFlags"><span>Права</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoOwner"><span>Владелец</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>File Name 123.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>20 КБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>File Name File Name File Name File Name File Name File Name File Name.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>20 КБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>Новый файл 1.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>20 КБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
--></div>


<div class="FMFileList"><!--
 --><div class="FMFileListHeader LayoutContainer"><!--
     --><div class="FMFileListHeader LayoutElement IconNameGroup"><!--
         --><div class="FMFileListHeader Icon" style="background-image: none;"></div><!--
         --><div class="FMFileListHeader Name"><span st>Имя объекта</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListHeader LayoutElement DetailsGroup"><!--
         --><div class="FMFileListHeader InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListHeader InfoElement InfoSize"><span>Размер</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoDate"><span>Дата изменения</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoFlags"><span>Права</span></div><!--
         --><div class="FMFileListHeader InfoElement InfoOwner"><span>Владелец</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><hr class="FMFileListHeader" /><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>File Name 123.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>20 КБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>File Name File Name File Name File Name File Name File Name File Name.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>1023 MБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
 --><div class="FMFileListItem LayoutContainer"><!--
     --><div class="FMFileListItem LayoutElement IconNameGroup"><!--
         --><div class="FMFileListItem Icon"></div><!--
         --><div class="FMFileListItem Name"><span>Новый файл 1.png</span></div><!--
         --><div class="LayoutClear"></div><!--
     --></div><!--
     --><div class="FMFileListItem LayoutElement DetailsGroup"><!--
         --><div class="FMFileListItem InfoElement InfoGradientIcon"></div><!--
         --><div class="FMFileListItem InfoElement InfoSize"><span>20 КБ</span></div><!--
         --><div class="FMFileListItem InfoElement InfoDate"><span>09.10.2017&nbsp;17:07</span></div><!--
         --><div class="FMFileListItem InfoElement InfoFlags"><span>0755</span></div><!--
         --><div class="FMFileListItem InfoElement InfoOwner"><span>PrivetDime</span></div><!--
         --></div><!--
     --><div class="LayoutClear"></div><!--
 --></div><!--
--></div>


</div>

            </div>
        </div>
        <div class="ClearFix"></div>
    </div>
    <div class="FileManagerInfo">
        Info
    </div>
</div>

