
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FMLayout.cshtml";
}

<h1>Файловый менеджер</h1>

<div class="FileManagerContainer">
    <div class="FileManagerAddressBar">
    </div>
    <div class="FileManagerToolbar">
    </div>
    <div class="FileManagerBlocks">
        <div class="FileManagerDirTree">
        </div>
        <div class="FileManagerFileList">
        </div>
    </div>
    <div class="FileManagerInfo">
    </div>
</div>

